.contenuAutre{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: var( --font-article16);
}

.autreBree{
    font-family: var(--font-titrearticle);
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 0;
}