	
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var( --font-article16);
}

body {
  font-family: var( --font-article16);
  font-size: var(--text-md);
  line-height: 1.6;
  background-color: var(#2A0337);
}

h1, h2 {
  font-family: var(--font-titrearticle);
  font-weight: lighter;
  line-height: 1.1;
}

h1 {
  font-size: var(--title-xxl);
}

h2 {
  font-size: var(--title-xl);
}

h3 {
  line-height: 1.4;
}
.texte__align {
  margin-left:20px;
  margin-right:20px;
  display: flex;

}


.reflet{
  position: flex;
  margin-top: 500px;
}
