img {
    max-width: 100%;
    height: auto;
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: var(--text-sm);
    color: var(--gray-600)
  }

  .video__titre{
    text-align: center;
    justify-content: center;
  }

  .video__details{
    text-align: center;
    font-family: var(--font-article16);
  }