.titreGlossaire{
    text-align: center;
    font-family: var(--font-titrearticle);
}

.Definition{
    text-align: center;
    color: var(--vert);
    font-family: var(--font-titrearticle);
    font-size: 120%;
}

.contenuGlossaire{
    text-align: center;
    margin: 20px;
    font-family: var(--font-titrearticle);
}

.contenuGallerie{
    text-align: center;
    margin: 20px;
    font-family: var(--font-titrearticle);
}

.gallerie__nom {
    margin-left:20px;
    margin-right:20px;
    display: flex;
    color: var(--vert);
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .contenuFrise{
    text-align: center;
    margin: 20px;
    font-family: var(--font-titrearticle);
    font-size: 0.8rem;
}

.Date{
    color: var(--vert);
    font-size: 1.2rem;
}

.contenuPropos{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: var(--font-titrearticle);
}

.contenuchimamanda{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;

    font-family: var(--font-titrearticle);  
}

.titreArticleChimamanda{
    color: var(--vert);
    margin: 20px;
}

.imageChimamandaJeune{
    align-items: center;
    position: relative;
    padding-left: 75px;
    height: 250px;
}

.photo2014{
    position: flex;
    margin-left: 91px;
    margin-top:auto;
}

.photo2017{
position: relative;
margin-left: 100px;

}

.Ted1{
text-align: center;
}

.Ted2{
    text-align: center;
}

.contenuAba{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;

    font-family: var(--font-titrearticle);  
}

.titreArticleAba{
    color: var(--vert);
    margin: 20px;
}

.AbaCarte{
    margin-top: 30px;
    margin-left: 35px;
}

.Aba5{
    padding-top: 40px;
    padding-left: 40px;
}

.AbaDernier{
    padding-top: 30px;
    padding-bottom: 30px;
}

.fondNoir{
    align-items: center;
}

.contenuProstitution{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;

    font-family: var(--font-titrearticle);  
}

.argent{
    padding-top: 30px;
    padding-bottom: 30px;
}

.titreArticleProstitution{
    color: var(--vert);
    margin: 20px;
}

.sorcier{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    height: 250px;
}

.Noir{
    padding-bottom: 20px;
    height: 250px;
}

.titreArticleAncienne{

    margin-top: 40px;
    
}