:root{
      /* Color styles */
  --violet: #2A0337;
  --vert: rgba(0, 0, 0, 0);
  --bleumot: rgba(16, 255, 241, 1);

  --system-error: rgba(255, 92, 92, 1);
  --system-success: rgba(33, 209, 132, 1);
  


  /* Font-family styles */
  --font-comfortaa: 'Comfortaa', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}