
.infos{
    position: relative;
    justify-content: center;
    text-align: center;
    right: 100px;
    font-family: var(--font-texttimeline);
    font-size: 1.7rem;
    text-decoration: underline;
}



.footer__mmi{
    position: flex;
}

.footer__tw{
    position: relative;
    right: 100px;
    bottom: 19px;
}

.footer__email{
    position: relative;
    justify-content: center;

}

.footer__li{
    position: relative;
    left: 100px;
    top: 30px;

}

.textEmail{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 10px;

}

.ligne{
    position: relative;
}

.ligneProjet{
    position: relative;
    text-align: center;
}

.textfooter{
    position: relative;
    text-align: center;
    top: 10px;

}

footer{
    background-color: var(--vert);
    text-align: center;
    padding-top: 0px;
    font-family: var(--font-texttimeline);
    color: black;
    padding-bottom: 10px;
}
