.footer__mmi{
    position: flex;
}

.footer__tw{
    position: absolute;
    padding-left: 72%;
    padding-right: 16%;
    padding: top 50px;
}

.footer__email{
    position: flex;
    margin-left: 175px;
}

.footer__li{
    position: flex;
    margin-left: 80px;
    margin-top: 30px;
}

.textEmail{
    position: flex;
    left: 72%;
    right: 16%;
    top: 40.88%;
    bottom: 51.68%;
}

.ligne{
    position: relative;
}

.ligneProjet{
    position: relative;
    text-align: center;
}

.textfooter{
    position: relative;
    text-align: center;
    margin: 0px;
}

footer{
    background-color: var(--vert);
    text-emphasis: center;
    margin-top: 40px;
}