.slogan{
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.Case{
    display: block;
    position: absolute;
    margin-left: 15%;
    margin-bottom: 15%;
    justify-content: center;
    border-radius: 50px;
    border-style: double;
    border-color: cornsilk;
    padding: 5%;
    font-size: 2rem;
}
.text-case{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 150px;
    margin-left: 0px;
}

.boite{
    position: absolute;
    margin-left: 150px;
    margin-top: 15px;
}


.Case1{
    display: block;
    position: absolute;
    margin-left: 55%;
    margin-bottom: 15%;
    justify-content: center;
    border-radius: 50px;
    border-style: double;
    border-color: cornsilk;
    padding: 5%;
    font-size: 1.4rem;
}


.box{
    border-radius: 50px;
    border-style: solid;
    border-color: darkgrey;
    text-justify: center;
    text-align: center;
    margin: 28px;
}

.Case2{
    display: block;
    position: absolute;
    margin-left: 15%;
    margin-top: 27.5%;
    justify-content: center;
    border-radius: 50px;
    border-style: double;
    border-color: cornsilk;
    padding: 5%;
    font-size: 1.4rem;
    margin-bottom: 150px;
}