.case{
    border-color: #2A0337;
    background-color: #2A0337;
    border-style: solid ;
    margin-left: 100px;
    border-radius: 30px;
    width: 60%;
    color: white;
}

.label {
    font-size: 14px;
    font-family: var(--);
    color: var(--noir);
    position: relative;
    left: 40px;
    top: 15px;
    z-index: 6;
}


.label2 {
    font-size: 14px;
    font-family: var(--);
    color: var(--noir);
    position: relative;
    left: 40px;
    top: 20px;
    z-index: 6;
}

.label1 {
    font-size: 14px;
    font-family: var(--m);
    color: var(--noir);
    position: relative;
    padding-left: 40px;
    top: 20px;
    z-index: 6;
}

.message {
    background-color: var(--violet);
    border-color: black;
    width: 63%;
    position: relative;
    border-width: 1px;
    margin-left: 80px;
    margin-bottom: 14px;
    border-radius: 30px;
    opacity: 100%;
    margin-right: 45px;
    margin-left: 100px;
    z-index: 6;
    color: white;
}

.but{
    position: relative;
    margin-left: 100px;
    margin-bottom: 20px;
    z-index: 6;
    border:none;
    background-color: var(--violet);
    border-radius: 40px;
    color:white;
    padding:10px;
    font-family: var(--font-article16);

}

.fond{
    border-radius: 30px;
    background-color: transparent;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.vraifond {
    position: absolute;
    border-radius: 30px;
    background-color: var(--vert);
    opacity: 0.5;
    z-index: -1;
    width: 298px;
    height: 366.64px;
    top: 520px;
}