/* Code fourni par Google Font pour l'utilisation de ces polices de caractères */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,700;1,300;1,700&family=Space+Mono:ital@0;1&display=swap');

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";
@import "layout/section-presentation.css";

/* Components */
@import "components/menu.css";
@import "components/hero.css";
@import "components/infos.css";
@import "components/button.css";
@import "components/card.css";
@import "components/carousel.css";

img{
    width: 400;
    height: 400;
    object-fit: cover;
}

body{
    color: azure;
}

p{
    color: azure;
}